# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# gKit files & directories
batch_perf.cpp
batch_perf.make
bbox.obj
bigguy_ambient.png
bigguy.obj
compute_kit.cpp
compute_kit.make
compute_tutorial1.cpp
compute_tutorial1.make
compute_tutorial2.cpp
compute_tutorial2.make
compute_tutorial3.cpp
compute_tutorial3.make
cube.mtl
cube.obj
debug2x2.png
debug2x2red.png
debug.png
Doxyfile
droid.ttf
filter_compute_tutorial1.cpp
filter_compute_tutorial1.make
filter_gaussian.glsl
filter.glsl
filter.png
filter_tutorial1.cpp
filter_tutorial1.make
geometry.obj
image_viewer.cpp
image_viewer.make
Makefile
materials.mtl
mesh_viewer.cpp
mesh_viewer.make
mini_fragment.glsl
mini_gl3core.cpp
mini_gl3core.make
mini_vertex.glsl
out.png
screenshot.png
shader_kit.cpp
shader_kit.make
tessellation.glsl
tessellation_quad.glsl
tessellation_sphere.cpp
tessellation_sphere.glsl
tessellation_sphere.make
tessellation_tuto.cpp
tessellation_tuto.make
tp1.cpp
tp1.make
tp1shader.cpp
tp1shader.make
tp1sphere.glsl
tp1sphere_reyes.cpp
tp1sphere_reyes.make
tp2
tutorial1
tutorial1.cpp
tutorial1.make
tutorial2
tutorial2.cpp
tutorial2.make
tutorial3
tutorial3.cpp
tutorial3.make
verdana.ttf

Bigguy/
doc/
gKit/
images/
local/
obj/

shaders/animate_batch.glsl
shaders/basic_material.glsl
shaders/batch.glsl
shaders/core.glsl
shaders/crack.glsl
shaders/dFnormal.glsl
shaders/envmap.glsl
shaders/hair.glsl
shaders/mcube.glsl
shaders/mipmap.glsl
shaders/normal.glsl
shaders/points.glsl
shaders/printf.c
shaders/quad_display.glsl
shaders/quad.glsl
shaders/quad_patch.glsl
shaders/shader_buffer.glsl
shaders/sparse_texture.glsl
shaders/string.glsl
shaders/text.glsl
shaders/texture.glsl
shaders/texture_kit.glsl
shaders/tonemap.glsl
shaders/uniform_block.glsl
shaders/watch.glsl
shaders/widget.glsl